<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Calculate GPA</title>
  <link rel="stylesheet" href="styles/styles.css">
  <link rel="stylesheet" href="styles/gpa.css">
  <script src="/scripts/cgpa.js" defer></script>
</head>

<body>
  <div class="container">
    <h1>Calculate CGPA</h1>
    <form id="cgpaForm">
      <div id="subjectInputs">
        <div class="subjectInput">
          <h2>First year</h2>
          <label for="yearCreditHours">Total Credit Hours of the year:</label>
          <input type="number" id="yearCreditHours" name="creditHours" min='0' required>
          <label for="grade">GPA:</label>
          <input type="number" id="grade" name="grade" min="0" max='4' required>
        </div>
      </div>
      <div class="buttons">
        <button type="button" id="add-year-btn">Add Year</button>
        <button type="submit" id="calculate-cgpa-btn">Calculate CGPA</button>
      </div>
    </form>
  
  </div>

  <!-- The Modal -->
  <div id="myModal" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
      <span class="close">&times;</span>
      <div class="modal-body">
        <p>Your CGPA Is</p>
        <h1 id="result"></h1>
      </div>
    </div>
  </div>
</body>

</html>